.card {
    width: 560px;
    height: 497px;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 3%;
}

.card p {
    font-size: 22px;
    font-weight: 300;
}

.button-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    width: 100%;
    position: relative;
    top: 45%;
}

.button-section button {
    color: white;
    background-color: #232323A3;
}